<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuale Progetto</title>
    <link rel="stylesheet" type="text/css" href="manual.css">
 </head>
 <body>
    <div id="logo_container">
		<a href="../index.php"><img src="../picture/logo.png" id="logo" alt="Sport_Stuff_Store_logo"></a>
	</div>
    <div class="background">
        <div class="manual-container">
            <h1>Manuale del Sito del Progetto</h1>
            <br>
            <div class="site-info">
                <b>Sport Stuff Store</b> &egrave; un <b>e-commerce</b> di articoli sportivi.<br>
                Il sito &egrave; formato da pi&ugrave; sezioni:
                <ul>
                    <li><b>Navbar</b> <br>
                    La navigation bar &egrave; presente in tutte le pagine del sito. <br> 
                    Attraverso questa barra &egrave; possibile navigare tra le pagine del sito. <br>
                    Infatti &egrave; possibile accedere al carrello, tornare alla pagina principale del sito e accedere al manuale. Inoltre cliccando sull'immagine dell'utente (a destra nella barra) si aprirà un men&ugrave; nel quale sono presenti i collegamenti alle pagine di registrazione e di accesso. <br>
                    Infine &egrave; presente (al centro nella barra) anche una casella per la ricerca dei prodotti.
                    </li>

                    <li><b>Home</b> <br>
                    Questa &egrave; la pagina principale del sito, nella quale &egrave; possibile visualizzare i prodotti acquistabili. <br>
                    Cliccando sull'immagine di un prodotto si aprir&agrave; la pagina con la descrizione di tale prodotto. <br>
                    Attraverso il pulsante <i>"Add to Cart"</i> &egrave; possibile aggiungere un prodotto al carrello. <br>
                    Un utente pu&ograve; aggiungere prodotti e visualizzarli anche se non ha fatto il login. Questi saranno aggiunti al suo carrello personale al momento dell'accesso. 
                    </li>

                    <li><b>Signup</b> <br>
                    In questa pagina &egrave; possibile registrarsi al sito. Se non si &egrave; registrati non si possono effettuare acquisti.
                    </li>

                    <li><b>Login</b> <br>
                    Questa &egrave; la pagina per effettuare il login, inserendo e-mail e password. Se hai dimenticato la password, cliccando su <i>"Forgot password?"</i> sarà possibile reimpostarne una nuova. <br>
                    Una volta fatto l'accesso nel men&ugrave; sulla destra della navbar saranno presenti i collegamenti alle pagine di visualizzazione del proprio profilo e di visualizzazione degli ordini. Dal men&ugrave; si potrà anche fare il logout.
                    </li>

                    <li><b>View Profile</b> <br>
                    Questa pagina contiene le informazioni principali del profilo. <br>
                    C'&egrave; anche un men&ugrave; in alto a sinistra con tre voci: una per modificare alcune del profilo, una per il cambio password ed una per il logout.
                    </li>

                    <li><b>Cart</b> <br>
                    Questa &egrave; la pagina relativa al carrello, dove si possono visualizzare tutti i prodotti che un utente aggiunge ad esso. <br>
                    Un utente che non ha ancora fatto il login vedrà solo i prodotti appena aggiunti, se ne ha aggiunti. <br>
                    Un utente che invece ha eseguito l'accesso potrà visualizzare tutti i prodotti del proprio carrello personale. <br>
                    &Egrave; possibile eliminare prodotti dal carrello cliccando sul pulsante <i>"Delete"</i> relativo all'articolo che si vuole scartare. <br>
                    Se un utente &egrave; loggato potr&agrave; procedere con l'acquisto dei prodotti presenti nel suo carrello, cliccando sull'apposito pulsante. A questo punto si aprirà una pagina per immettere indirizzo di spedizione e tipologia di spedizione. Procedendo l'utente si ritroverà davanti al resoconto del dell'ordine e potr&agrave; decidedere se confermare l'acquisto o annullarlo.
                    </li>

                    <li><b>View Orders</b> <br>
                    In questa pagina, alla quale &egrave; possibile accedere solo se un utente ha eseguito l'accesso, sono riportati tutti gli ordini da esso effettuati, con le relative informazioni.
                    </li>
                </ul>
            </div>
            <a href="home.php">Back to Home</a>
        </div>
    </div>
</body>
</html>